body {
    background-color: #2F2727;
    background-position: center center;
    background-repeat: no-repeat;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
    background: -moz-radial-gradient(circle, #1a82f7, #2F2727);
    background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
    font-family: sans-serif;
}

.page {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    min-width: 50px;
    max-width: 400px;
    border: 3px solid #797979;
    padding: 10px;
    background: #f9f9f9;
    padding-bottom: 25px;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 55px;
    padding-right: 55px;
}

.page.title {
    max-width: 800px;
}

.page.large {
    max-width: 600px;
}

.header {
    margin-top: 15px;
    font-weight: bold;
}

#options {
    display: -webkit-box;
}

#infobar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
    animation: fadein 0.5s, fadeout 0.5s 9.5s;
}

.btn.btn-secondary.toggle-on-off {

    background: red;
    border-color: red;
}

.btn.btn-secondary.active.toggle-on-off {
    background-color: green;
    border-color: green;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.input-group {
    margin-bottom: 4px;
}

#qrcode {
    display: table;
    margin: 0 auto;
}

#info {
    margin-top: 5px;
}